<% title 'Review' %>

<div class="jumbotron">
    <div id="showReview"></div>

    <div class="row justify-content-center">
        <div class="col-sm-6 col-sm-offset-3" style="padding-top: 50px">
            <%= 
                link_to "Back",
                user_book_path(@review.book.author.full_name, @review.book) ,
                class: "btn btn-primary btn-lg btn-block"
            %>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-6 col-sm-offset-3" style="padding-top: 30px">
            <%= link_to_if(@current_user == @review.user,
                            "Edit Review",
                            edit_review_path(@review),
                            class: "btn btn-info btn-lg btn-block") do %>
            <% end %>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-6 col-sm-offset-3" style="padding-top: 30px">
        <%= link_to_if(@current_user == @review.user,
                        "Delete Review", 
                        review_path(@review), 
                        {method: :delete, class: "btn btn-danger btn-lg btn-block"}
                        ) do %>
        <% end %>
        </div>
    </div>
</div>

<script>
    $.get('/reviews/<%= @review.id%>.json', function(data) {
        // console.log(data)
        review = new Review(data)
        $('#showReview').html(review.show())

      }).fail(function(error) {
          swal('Something went wrong: ' + error.statusText)
        console.log('Something went wrong: ' + error.statusText);
    });
</script>